/.vs
/bin
/obj
/*.user
/SliceViewerBusinessLayer/obj
/SliceViewerBusinessLayer/bin
/OVFSliceViewerGUI/obj
/OVFSliceViewerGUI/bin
/OVFSliceViewerBusinessLayer/bin
/OVFSliceViewerBusinessLayer/obj
/Geometry3SharpLight/obj
/Geometry3SharpLight/bin
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.exe
*.config
*.dylib
*.so
*.testlog
*.manifest
/RWTH Colors.pdf

/test.vx
/vox_export.vx
/vox_export_new.vx
