/bin
/bin/Debug
/bin/x64/Debug
/obj/Debug
/obj
/SliceViewerBusinessLayer/obj
/SliceViewerBusinessLayer/bin
*.suo
*.lock
*.ide
*.ide-shm
*.ide-wal
*.dll
*.pdb
*.frag
*.vert
*.exe
*.config
*.dylib
*.so
*.testlog
*.manifest

/.vs/OVFSliceViewer/v16/Browse.VC.db
/.vs/OVFSliceViewer/v16/Browse.VC.db-shm
/.vs/OVFSliceViewer/v16/Browse.VC.db-wal
/.vs/OVFSliceViewer/v16/Browse.VC.opendb
OVFSliceViewer.csproj.user
/.vs/OVFSliceViewer/DesignTimeBuild/.dtbcache.v2
/RWTH Colors.pdf
/bin/Release
/*.user
/SliceViewerBusinessLayer/bin
